html {
    height: 100%;
}

body {
    background-color: #444444;
    background-image: url('../img/background.gif');
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, sans-serif;
    font-size: small;
    height: 100%;
    margin: 0;
}

h1 {
	color: #3e4d60;
}

a {
    color: #6e7a88;
    text-decoration: none;
}

a:hover {
    color: #3e4d60;
}

p {
    text-align: justify;
}

div#center {
    background-color: #f3ede4;
    background-image: url('../img/center-bg.jpg');
    _height: 100%;
    min-height: 100%;
    margin: 0 auto;
    width: 820px;
}

img#site-top {
    margin-left: 12px;
}

div#content-top {
    background-color: #ffffff;
    background-image: url('../img/content-top.jpg');
    height: 15px;
    line-height: 6px;
    font-size: 6px;
    margin: 30px auto 0;
    width: 601px;
}

div#content-middle {
    background-color: #ffffff;
    border: 3px solid #8f9dad;
    border-top: none;
    border-bottom: none;
    margin: 0 auto;
    width: 595px;
}

div#bulb {
    background-color: #ffffff;
    background-image: url('../img/bulb.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
}

div#content-bottom {
    background-color: #ffffff;
    background-image: url('../img/content-bottom.jpg');
    background-repeat: no-repeat;
    color: #ffffff;
    height: 52px;
    line-height: 1.0;
    margin: 0 auto;
    padding: 10px;
    width: 581px;
}

div#content-bottom p {
    margin: 0;
    margin-top: 5px;
    _padding-top: 5px;
    text-align: center;
}

div#nav {
    float: left;
    margin: 0;
    padding-left: 15px;
    width: 135px;
}

div#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#nav ul li {
    border-bottom: 1px dashed #999999;
    padding: 10px 0;
}

div#nav ul li a {
    font-size: 116%;
    font-weight: bold;
    vertical-align: middle;
}

div#nav ul li img {
    vertical-align: middle;
}

div#content {
    border-left: 1px dashed #999999;
    float: right;
    margin: 0;
    min-height: 300px;
    _height: 300px;
    padding: 0 20px;
    width: 400px;
}

div#bumper {
    clear: both;
    font-size: 2px;
    line-height: 2px;
}

div#bottom-bumper {
    clear: both;
}

.copyright {
    color: #cccccc;
    font-size: 78%;
    margin-top: 5px;
}